*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    color: white;
    
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #17273C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    background-color: #0A131C;
    width: 50%;
    height: 50%;
    box-shadow: 0 5px 5px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.text {
    text-align: center;
    margin-bottom: 20px;
}

.text h2 {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
}

.text p {
    font-size: 25px;
}

.choice {
    display: flex;
    gap: 1rem;
}

.choice > div {
    border: solid 2px white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice > div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.choice div > i {
    font-size: 30px;
}

.status__contets {
    margin-top: 20px;
}

.status__text {
    text-align: center;
}

.reset__button {
    text-align: center;
    margin-top: 10px;
}

.reset__button button {
    height: 45px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    background-color: #114450;
    border: none;
    box-shadow: 0 2px 2px 0;
}

.reset__button button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0;
    transition: .5s ease-in-out all;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    height: 100%;
    width: 50vw;
    border-top: solid 40px #114450;
}

.textbox {
    width: 90%;
    margin: 10% auto;
    text-align: center;
}

.textbox h2 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 900;
}

.textbox p {
    font-size: 18px;
    padding: 10px;
}

.textbox button {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #114450;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.textbox button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}