*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    color: white;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #17273C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    background-color: #0A131C;
    width: 50%;
    min-width: 320px;
    box-shadow: 0 5px 5px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px 10px 30px 10px;
}

.text {
    text-align: center;
    margin-bottom: 20px;
}

.text h2 {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
}

.text p {
    font-size: 25px;
}

.choice {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choice > div {
    border: solid 2px white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice > div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.choice div > i {
    font-size: 30px;
}

.status__contets {
    margin-top: 20px;
}

.status__text {
    text-align: center;
}

.reset__button {
    text-align: center;
    margin-top: 10px;
}

.reset__button button {
    height: 45px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    background-color: #114450;
    border: none;
    box-shadow: 0 2px 2px 0;
}

.reset__button button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0;
    transition: .5s ease-in-out all;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    border-top: solid 40px #114450;
    animation: widthincrease 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupcontents {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textbox {
    width: 100%;
    min-height: 64px;
    text-align: center;
    padding: 25px 5px 0 5px;
}


.textbox h2 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 900;
}

.buttonbox {
    margin: auto;
    height: 40px;
    width: 150px;
    margin: 25px 0;
}

.buttonbox button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #114450;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.buttonbox button:hover {
    cursor: pointer;
}

.result {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.result > div {
    background-color: #114450;
    color: white;
    animation: grow 2s;
    transition: .5s all ease-in-out;
}

.result > div:hover {
    background-color: white;
    border: solid 10px #114450;
}

.result__weapon {
    display: flex;
    flex-direction: column;
}

.result__weapon p {
    font-size: 14px;
    animation: slideUp 5s;
}

.hide {
    display: none;
}

@media (max-width: 690px) {
    .text h2 {
        font-size: 45px;
    }

    .text p{
        font-size: 20px;
    }

    .textbox h2 {
        font-size: 35px;
    }
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes widthincrease {
    from {
        width: 0;
    }
    to {
        width: 50vw;
    }
}